[flake8]
extend-ignore =
    # don't check max complexity
    C901,
    # pygobject requires calling gi.require_version before import
    E402
exclude =
    .git, __pycache__,
    build, dist,
    # don't check setup.py
    setup.py
max-line-length = 120
builtins = _
