<nav class="navbar navbar-default">
    <!-- here's where you put the container tag -->
    <div class="container">
  
      <div class="navbar-header">
      <!-- header and collapsed icon here -->
      <a class="navbar-brand" href="#">Safe Eyes</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <!-- links here -->
        <li class="active pull-left"><a href="#">Home</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <li class="social pull-right"><a href="https://github.com/slgobinath/SafeEyes/">Source</a></li>
        </ul>
      </div>
    </div> <!-- close the container tag -->
  </nav> <!-- close the nav tag -->