<!-- Team Section -->
    <section id="contribute" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contribute</h2>
                    <h3 class="section-subheading text-muted">Show your support by contributing back to Safe Eyes</h3>
                </div>
            </div>
            <!-- <div class="row">
                {% for member in site.people %}
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/love.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Spread the love by sharing Safe Eyes with your friends</p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/issue.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Share your ideas, questions and isseus @ <a href="https://github.com/slgobinath/SafeEyes/issues">GitHub</a>.</p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/write.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Translate Safe Eyes into other languages (See how to tranlsate under Customize)</p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/vote.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Vote for Safe Eyes in <a href="http://alternativeto.net/software/eyeleo/?platform=linux">alternativeto.net</a></p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/askubuntu.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Upvote Safe Eyes in these askubuntu questions <a href="https://askubuntu.com/a/840800/421047">Question 1</a> & <a href="https://askubuntu.com/a/840808/421047">Question 2</a></p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/python.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Are you a Python developer with creative ideas to improve Safe Eyes? Please <a href="http://www.javahelps.com/2017/04/git-pull-request-complete-guide-for.html">send a pull request</a> with new feature and bug fixes.</p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/contribute/donate.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I maintain this software as one of my hobby project. I don't need any donations, but I recommend you to support open source peojects by donating atlease few dollars. If you really like Safe Eyes and want to donate, please donate to other open source projects that are in need.</p>
                    <br>
                </div>
            </div>
        </div>
    </section>
