<!-- About Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Safe Eyes was started as an open source alternative to Eye Leo and developed so far with numerous features</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/exercise.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Remind you to take breaks</h4>
                                    <h4 class="subheading">Short and long breaks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Safe Eyes interrupts you every 15 minutes (customizable) and reminds you to take a break and to do some simple exercises to keep you away from Repetitive Strain Injury (RSI).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/interrupt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Interrupt you in all the ways</h4>
                                    <h4 class="subheading">No keyboard and no display</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During a break, you cannot use the keyboard nor see anything on the display. All the workspaces and monitors will be blocked by the break screen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/notification.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Keep you informed</h4>
                                    <h4 class="subheading">Notifications before and after a break</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You will get a notification before the break to prepare yourself and an optional audible alert to inform you the end of break.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/intelligent.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Intelligent decision making</h4>
                                    <h4 class="subheading">Safe Eyes is smart enough</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No breaks when using full-screen applications(Eg: Watching movies) and smart pause based on system idle time. Also Safe Eyes lock the screen after long breaks so that you can leave the computer with no worries (If this feature doesn't work, define the screensaver command in the configuration).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/strict.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Strict break</h4>
                                    <h4 class="subheading">Are you addicted to computer?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Do you think you are addicted to computer? Enable the strict break mode. Simply you cannot skip or postpone the break.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/features/customize.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Highly Customizable</h4>
                                    <h4 class="subheading">Customize everything</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is one of the unique feature that makes Safe Eyes stand alone among other similar products. Change the settings, change the look and feel not satisfied? extend the Safe Eyes by writing your own plugin.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Keep
                                    <br>Scrolling
                                    <br>Down</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>