<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                    <h3 class="section-subheading text-muted">Protect your eyes from eye strain using this simple and beautiful, yet extensible break reminder. A Free and Open Source Linux alternative to EyeLeo.<br><br><b>Note: </b>Wayland users must use <code>env GDK_BACKEND=x11 safeeyes</code> instead of <code>safeeyes</code> to start Safe Eyes from terminal.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-ubuntu fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ubuntu</h4>
                    <p class="text-muted">Ubuntu and Linux Mint users can install Safe Eyes from the PPA. If you don't like to install from AUR, please go ahead with manual installation.</p>
                    <pre align="left"><code align="left">sudo add-apt-repository ppa:slgobinath/safeeyes</code></pre>
                    <pre align="left"><code align="left">sudo apt update</code></pre>
                    <pre align="left"><code align="left">sudo apt install safeeyes</code></pre>
                    <pre align="left"><code align="left">safeeyes</code></pre>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-archlinux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Arch Linux</h4>
                    <p class="text-muted">Safe Eyes is maintained by <a href="https://github.com/Yamakaky">Yamakaky</a> in the <a href="https://aur.archlinux.org/packages/safeeyes">Arch User Repository</a>. If you don't like to install from AUR, please go ahead with manual installation.</p>
                    <pre align="left"><code align="left">packer -S safeeyes</code></pre><p class="text-muted">OR</p><pre align="left"><code align="left">yaourt -S safeeyes</code></pre>
                    <pre align="left"><code align="left">safeeyes</code></pre>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-debian fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Debian</h4>
                    <p class="text-muted">Install the following dependencies:</p><pre align="left"><code align="left">gir1.2-appindicator3-0.1 gir1.2-notify-0.7  python3-pyaudio python3-psutil xprintidle</code></pre>
                    <p class="text-muted">Install Safe Eyes from PyPI.</p><pre align="left"><code align="left">sudo pip3 install safeyes</code></pre>
                    <pre align="left"><code align="left">sudo update-icon-caches /usr/share/icons/hicolor</code></pre>
                    <pre align="left"><code align="left">safeeyes</code></pre>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-fedora fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fedora</h4>
                    <p class="text-muted">Install the dependencies:</p><pre align="left"><code align="left">sudo dnf install libappindicator-gtk3 python3-pyaudio python3-psutil</code></pre>
                    <p class="text-muted">Install <code>xprintidle</code> manually (Available for Fedora 24)</p>
                    <p class="text-muted">Install Safe Eyes from PyPI.</p><pre align="left"><code align="left">sudo pip3 install safeyes</code></pre>
                    <p class="text-muted">Update the icon cache</p>
                    <pre align="left"><code align="left">sudo gtk-update-icon-cache /usr/share/icons/hicolor</code></pre>
                    <pre align="left"><code align="left">env GDK_BACKEND=x11 safeeyes</code></pre>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-archlinux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Arch Linux Manual</h4>
                    <p class="text-muted">Install the dependencies:</p><pre align="left"><code align="left">sudo pacman -S python-pip libappindicator-gtk3</code></pre>
                    <pre align="left"><code align="left">yaourt -S xprintidle</code></pre>
                    <p class="text-muted">Install Safe Eyes from PyPI.</p><pre align="left"><code align="left">sudo pip3 install safeyes</code></pre>
                    <p class="text-muted">Update the icon cache</p>
                    <pre align="left"><code align="left">sudo gtk-update-icon-cache /usr/share/icons/hicolor</code></pre>
                    <pre align="left"><code align="left">safeeyes</code></pre>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-gentoo fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gentoo</h4>
                    <p class="text-muted">Comming soon</p>
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Others</h4>
                    <p class="text-muted">Install the following dependencies:</p><pre align="left"><code align="left">gir1.2-appindicator3-0.1 gir1.2-notify-0.7 python3-babel python3-dbus python3-psutil python3-pyaudio python3-xlib xprintidle</code></pre>
                    <p class="text-muted">Install Safe Eyes from PyPI.</p><pre align="left"><code align="left">sudo pip3 install safeyes</code></pre>
                    <pre align="left"><code align="left">sudo update-icon-cache /usr/share/icons/hicolor</code></pre>
                    <pre align="left"><code align="left">safeeyes</code></pre>
                </div> -->
<!--                 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fl-fedora fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux & Windows</h4>
                    <p class="text-muted">This project is an attempt to fill the gap in download accelerators available for Linux. However, setup for Windows is available for people using uGet in Windows.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-debian fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux & Windows</h4>
                    <p class="text-muted">This project is an attempt to fill the gap in download accelerators available for Linux. However, setup for Windows is available for people using uGet in Windows.</p>
                </div> -->
            </div>
        </div>
    </section>
