Source: safeeyes
Section: utils
Priority: optional
Maintainer: Gobinath Loganathan <slgobinath@gmail.com>
Build-Depends: debhelper (>= 10), dh-python, python3, python3-packaging, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.10
Homepage: https://github.com/slgobinath/safeeyes/

Package: safeeyes
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, 
 python3 (>= 3.10.0),
 python3-gi,
 python3-babel,
 python3-croniter,
 python3-packaging,
 gir1.2-notify-0.7,
 gir1.2-gtk-4.0,
 ffmpeg | pipewire,
 python3-xlib
Recommends:
 python3-pywayland
Suggests:
 xprintidle
Description: Prevent eye strain with Safe Eyes – an essential screen break reminder.
 Safe Eyes is a simple tool to remind you to take periodic breaks for your eyes. This is essential for anyone spending more time on the computer to avoid eye strain and other physical problems.
 .
 Features:
  - Short breaks with eye exercises
  - Long breaks to change physical position and to warm up
  - Strict break for those who are addicted to computer
  - Do not disturb when working with full-screen applications( Eg: Watching movies)
  - Notifications before every break
  - Optional audible alert at the end of break
  - Option to lock screen after long breaks
  - Smart pause and resume based on system idle time
  - Multi-monitor support
  - Plugins to utilize Safe Eyes
  - Elegant and customizable design
