<app-navbar></app-navbar>

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="p-1">
            <div class="row">
                <app-header></app-header>
            </div>
            <div class="row" style="text-align:center;">
                <screenshots></screenshots>
            </div>
            <div class="row">
                <installation></installation>
            </div>
            <div class="row">
                <features></features>
            </div>
            <div class="row">
                <contribute></contribute>
            </div>
            <div class="row">
                <br>
            </div>
        </div>
    </div>
</div>